@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-bg-color: #F5F5F5;
  font-size: clamp(0.9rem, calc(0.91 + 1.5vw), 4rem);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

/*====================
HEADER
====================*/
header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  gap: 20px;
  border: 1px solid #E5E5E5;
  margin: 2vw 0 0 0;
  border-radius: 20px;
  padding: 3px;
}

header nav ul li a {
  padding: 10px 20px;
  border-radius: 20px;
  display: block;
}

header nav ul li a.atual {
  background-color: black;
  color: white;
}

/*====================
BANNER
====================*/

section.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5vw auto 3vw auto;
  width: 80%;
  max-width: 1000px;
}

section.banner h1 {
  width: 50%;
  font-size: 3rem;
}

section.banner h1 span {
  font-weight: bold;
}

section.banner p {
  font-size: 1.2rem;
  color: #5A5A5A;
  line-height: 40px;
}

/*====================
POSTS
====================*/

section.posts {
  margin: 5vw auto 0 auto;
  width: 80%;
  max-width: 1000px;
}

section.posts>ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 23px;
}

section.posts>ul>li {
  background-color: white;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 4px rgb(218, 218, 218);
  padding: 1.3vw;
}

section.posts>ul>li h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 0.8vw 0;
  color: #1E1E1E;
}

section.posts>ul>li p {
  line-height: 1.5rem;
  color: #757575;
  margin: 1vw 0 0 0;
}

section.posts>ul>li>ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0.7vw 0 0 0;

}

section.posts>ul>li ul li {
  background-color: #e5e5e5;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 8px 16px;
  border-radius: 20px;
}

/*====================
FOOTER
====================*/

footer {
  margin: 3vw auto 3vw auto;
  width: 80%;
  max-width: 1000px;
}

footer p {
  color: #7C7C7C;
  text-align: center;
  background-color: white;
  border-radius: 18.5874763287467823px;
  border: 1px solid #C2C2C2;
  padding: 15px 20px;
}

/*===============================================================
ABOUT
===============================================================*/

section.banner p {
  color: #757575;

}

/*===============================================================
PROJECTS
===============================================================*/
section.projetos {
  margin: 5vw auto 0 auto;
  width: 80%;
  max-width: 1000px;
}

.projetos ul li {
  background-color: white;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 4px rgb(218, 218, 218);
  padding: 1.3vw;
}

section.projetos h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 0.8vw 0;
  color: #1E1E1E;
}

section.projetos p {
  color: #757575;
  margin: 0 0 0.6vw 0;
  font-size: 0.8rem;
}

section.projetos li.m {
  margin: 0 0 1vw 0;

}

section.projetos li.M {
  margin: 0 0 4vw 0;
}

/*====================
CONNECT
====================*/

section.aplicativos {
  margin: 3vw auto 3vw auto;
  width: 80%;
  max-width: 1000px;
}

section.aplicativos ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 23px;

}

section.aplicativos ul li {
  background-color: white;
  border-radius: 15px;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 4px rgb(218, 218, 218);
  padding: 1vw;

}

section.aplicativos ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}


/*===========================================RESPONSIVIDADE===========================================*/


@media only screen and (max-width: 600px) {

  /*==========INDEX==========*/

  header nav ul {
    gap: 10px;

  }
  header nav ul li a {
    padding: 5px 10px;
  }
  header nav ul li {
    font-size: 0.7rem;
  }

  section.banner {
    display: block;
  }
  section.banner h1 {
    width: 100%;
    font-size: 1.9rem;
    margin: 13vh 0 5vh 0;
  }
  section.banner p {
    font-size: 1rem;
    line-height: 27px;
    margin: 0 0 13vh 0;
    
  }
  section.posts>ul {
    display: block;
  }
  section.posts>ul>li {
    padding: 20px;
    margin: 4vh 0;
  }
  section.posts>ul>li h2 {
    font-size: 1.6rem;
    margin: 0 0 1vh 2vw;
  }
  section.posts>ul>li ul {
    margin: 1.6vh 0 0 0;
  }
  section.posts>ul>li ul li {
    font-size: 0.65rem;
    padding: 6px 12px;
  }
  section.posts>ul>li p{
    font-size: 0.761923838319862rem;
    line-height: 20px;
  }
  section.posts>ul>li img.lampada {
    height: 50px;
  }
  
  footer p {
    margin: 8vh 0 0 0;
    padding: 10px 15px;
    font-size: 0.8rem;

  }

  /*==========PROJECTS==========*/

  section.projetos ul li {
    padding: 20px;
  }
  section.projetos ul li h2 {
    font-size: 1.45rem;
  }
  section.projetos ul li p {
    font-size: 0.79rem;
    line-height: 20px;
    margin: 3vh 0 1vh 0;
  }
  section.projetos ul li img {
    width: 100%;
    height: 200px;
  }

  /*==========CONNECT==========*/

  section.aplicativos ul {
    display: block;
  }
  section.aplicativos ul li {
    margin: 3vh 0;
    padding: 15px 20px;
  }



  
}